@model ForgetPasswordDtos

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/corporate-ui-dashboard-main/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/corporate-ui-dashboard-main/assets/img/favicon.png">
    <title>
        EGEUP-SIFRE YENILEME
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Noto+Sans:300,400,500,600,700,800|PT+Mono:300,400,500,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="~/corporate-ui-dashboard-main/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/corporate-ui-dashboard-main/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
   
    <script src="https://kit.fontawesome.com/349ee9c857.js" crossorigin="anonymous"></script>
    <link href="~/corporate-ui-dashboard-main/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/corporate-ui-dashboard-main/assets/css/corporate-ui-dashboard.css?v=1.0.0" rel="stylesheet" />
</head>

<body class="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <main class="main-content mt-0">
        <section>
            <div class="page-header min-vh-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="position-absolute w-40 top-0 start-0 h-100 d-md-block d-none">
                                <div class="oblique-image position-absolute d-flex fixed-top ms-auto h-100 z-index-0 bg-cover me-n8">
                                    <img src="~/corporate-ui-dashboard-main/assets/img/image-sign-in.jpg" alt="Background Image" class="w-100 h-100 object-fit-cover">

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 d-flex flex-column mx-auto">
                            <div class="card card-plain mt-8">
                                <div class="card-header pb-0 text-left bg-transparent">
                                    <h3 class="font-weight-black text-dark display-6"> Sifre Yenileme</h3>
                                    <p class="mb-0"> Lütfen Mailinizi girin.</p>
                                </div>
                                <div class="card-body">
                                    <form id="passwordResetForm" action="/ForgetPassword/ForgetPassword" method="post">
                                        <label>Mail Adresinizi Girin</label>
                                        <input type="email" class="form-control" asp-for="Email" />
                                        <br />
                                        <button id="passwordLink" type="submit" class="btn btn-primary">Link Gönder</button>

                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
   
    <!--   Core JS Files   -->
    <script src="~/corporate-ui-dashboard-main/assets/js/core/popper.min.js"></script>
    <script src="~/corporate-ui-dashboard-main/assets/js/core/bootstrap.min.js"></script>
    <script src="~/corporate-ui-dashboard-main/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/corporate-ui-dashboard-main/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
 
   
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('passwordResetForm').addEventListener('submit', function (event) {
                event.preventDefault();

                let formData = new FormData(this);

                fetch('/ForgetPassword/ForgetPassword', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (response.ok) {
                            toastr.success('E-posta adresinize doğrulama kodu gönderildi. Lütfen kontrol ediniz.', 'Başarılı İşlem', {
                                timeOut: 4000,
                                progressBar: true
                            });

                          
                            setTimeout(() => {
                                this.reset();
                                window.location.href = '/Login/Index';
                            }, 3000);
                        } else {
                            toastr.error('Lütfen geçerli bir e-posta adresi giriniz!', 'Hata');
                        }
                    })
                    .catch(error => {
                        toastr.error('İşlem sırasında bir hata oluştu!', 'Hata');
                    });
            });
        });


    </script>
 
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Corporate UI Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/corporate-ui-dashboard-main/assets/js/corporate-ui-dashboard.min.js?v=1.0.0"></script>
   
</body>

</html>

